@import '../../reponive.scss';
.homepage{
    display: flex;
    height: 100%;

    .textcontainer{
        flex: 3;
        .wapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;
            @include md{
                padding: 0;        
            }
            @include sm{
                justify-content: flex-start;
            }
            p{
                font-size: 20px;
                line-height: 1.7rem;
            }
          
           .tittle{
            font-size: 60px;
            @include lg{
                font-size: 40px;
            }
           }
           .boxs{
            display: flex;
            justify-content: space-between;
            @include sm{
                display: none;
            }
           }
           .numb{
            font-style: 36px;
            text-align: center;
            @include lg{
                font-size: 32px;
            }
           }
           h2{
            font-size: 20px;
            font-weight: 300;
           }
        }
    }
    .imgcontainer{
        flex: 2;
        display: flex;
        background-color: #fcf5f3;
        position: relative;
        align-items: center;
        @include md {
            display: none;
        }
        img{
            width: 115%;
            position: absolute;
            right: 0;
            @include lg{
                width: 105%;
            }
        }
    }
}